[submodule "github/templates"]
	path = github/templates
	url = https://github.com/raivenhart/templates.git
[submodule ".github/templates"]
	path = .github/templates
	url = https://github.com/raivenhart/templates.git
